div.connectMenu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: fit-content;
  margin: 0 auto;
  background-color: #f6f7f8;
  box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
    rgb(25 19 38 / 5%) 0px 1px 1px;
  border-radius: 8px;
  margin-top: 30px;
  z-index: 10;

  div.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
      rgb(25 19 38 / 5%) 0px 1px 1px;
    padding: 15px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #212121;
    font-size: 18px;
    
    p.header {
      font-family: 'Cera Pro';
      font-weight: 500;
      font-size: 17px;
    }

    i {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        filter: brightness(0.9);
      }
    }
  }

  div.bottom {
    margin-top: 6px;

    div.selectionMenu {
      display: flex;
      align-items: center;
      padding-left: 10px;

      div {
        text-align: center;
        color: #212121;
        font-family: 'Cera Pro';
        font-weight: 600;
        padding: 10px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        user-select: none;
        
        &.selected {
          border-bottom: 2px solid #268ffc;
        }

        &:hover {
          opacity: 0.8;
        }

        &:active {
          filter: brightness(0.9);
        }
      }
    }

    div.importMenu {
      padding: 15px 10px;

      div.btnInput {
        display: flex;
        align-items: center;
      }

      i {
        color: #212121;
        width: 50px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
      }
      
      p.header {
        color: #212121;
        font-size: 15px;
        font-family: 'Cera Pro';
        font-weight: 500;

        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }

      p.notice {
        font-size: 12px;
        color: #268ffc;
        margin-top: 5px;
        margin-left: 5px;
      }

      input, textarea {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
          rgb(25 19 38 / 5%) 0px 1px 1px;
        font-size: 15px;
        font-weight: 500;
        width: 100%;
        padding: 10px 15px;
        color: #212121;
        border-radius: 4px;
        margin-top: 5px;

        &:focus {
          outline: none;
          border: 1px solid #268ffc;
        }
      }

      textarea {
        height: 100px;
      }

      button {
        font-size: 16px;
        background-color: #268ffc;
        color: #ffffff;
        font-family: 'Cera Pro';
        font-weight: 500;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin-top: 10px;
        padding-block: 10px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          filter: brightness(0.9);
        }
      }
    }
  }
}