div.transactionHistory {
  color: #212121;
  background-color: #f6f7f8;
  // border: 1px solid #e5e7e8;
  border-radius: 20px;
  padding: 5px 10px;
  
  div.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p.infoHeader,
    p.clear {
      font-size: 12px;
      font-weight: 500;
      padding: 10px 5px;
      
      i {
        margin-right: 4px;
      }
    }

    p.clear {
      padding: 7px 10px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
      user-select: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        filter: brightness(0.9);
      }

      i {
        color: #d32c2c;
      }
    }
  }

  div.historyScroll {
    max-height: 140px;
    overflow-y: scroll;
    border-radius: 10px;
  }

  div.tab {
    margin-block: 8px;
    background-color: #ffffff;
    box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
    border-radius: 10px;
    // border: 1px solid #212429;

    div.top {
      display: flex;
      align-items: center;
      background-color: #212429;
      padding: 12px 18px;
      // border: 1px solid #212429;
      border-bottom: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      user-select: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        filter: brightness(0.9);
      }

      p.title {
        font-size: 15px;
        font-weight: 500;

        i {
          font-size: 13px;
          margin-right: 4px;
        }
      }

      div.path {
        display: flex;
        align-items: center;
        margin-left: 10px;

        img {
          width: 18px;
        }

        i {
          font-size: 12px;
          margin-inline: 10px;
        }
      }
    }

    div.expandable {
      margin-top: 10px;
      padding-inline: 10px;

      div.path {
        display: flex;
        align-items: center;

        img {
          width: 18px;
          margin-right: 5px;
        }

        i {
          margin-inline: 10px;
          font-size: 12px;

          &.pathIcon {
            transform: rotate(90deg);
          }
        }
      }

      div.hash {
        text-align: right;
        padding-bottom: 10px;

        a {
          display: inline-block;
          font-size: 12px;
          font-weight: 500;
          color: #268ffc;
        }
      }
    }
  }
}