div.settingsMenu {
  background-color: #f6f7f8;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
  max-height: 140px;
  overflow-y: scroll;

  div.slippage {
    
    p.infoHeader {
      font-size: 12px;
      font-weight: 500;
      padding: 10px 5px 10px 0;
      color: #212121;
      
      i {
        margin-right: 4px;
      }
      
      &:not(:first-of-type) {
        margin-top: 14px;
      }
    }
    
    p.error {
      color: #268ffc;
      font-size: 13px;
      font-weight: 500;
      padding: 10px 0 0 10px;
    }
    
    div.top {
      display: grid;
      grid-template-columns: 15% 15% 15% 51% 4%;
      
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-left: 4px;
        color: #212121;
      }
      
      div.slipBtn {
        background: #ffffff;
        box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
        rgb(25 19 38 / 5%) 0px 1px 1px;
        color: #212121;
        border-radius: 10px;
        padding-block: 10px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          filter: brightness(0.9);
        }
        
        &.active {
          background-color: #268ffc;
          color: #ffffff;
        }
      }
      
      input {
        border: 0;
        color: #212121;
        background-color: #ffffff;
        border: 0;
        box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
          rgb(25 19 38 / 5%) 0px 1px 1px;
        padding: 10px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 13px;
        
        &:focus {
          outline: none;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }
    }
    
    div.top > * {
      margin-inline: 2px;
    }
  }
}