div.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 14px 50px;

  div.left {
    color: #ffffff;
    font-weight: 600;
    width: fit-content;

    p.logo {
      font-family: 'Cera Pro';
      font-size: 18px;
    }

    p.app {
      font-size: 15px;
      text-align: right;
    }
  }

  div.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    ul {
      list-style: none;

      li {
        display: inline-block;
        color: #bbbbbb;
        margin-inline: 15px;
        font-family: 'Cera Pro';
        font-weight: 500;
        font-size: 15px;
        user-select: none;
        cursor: pointer;

        &.selected {
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  div.header {
    padding: 14px;
    // background-color: #212429;
    background-color: #268ffc;
    box-shadow: 0 0 10px #268ffc9e;

    div.left {

      p.logo {
        // font-size: 18px;
      }

      p.app {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}