div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin: 10px auto;
  margin-top: 30px;
  
  div.filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: #000000;
    filter: blur(200px);
  }

  div.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #191b1f;
    color: #ffffff;
    padding: 5px 6px;
    padding-right: 16px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
      rgb(25 19 38 / 5%) 0px 1px 1px;
    cursor: pointer;
    user-select: none;
    
    img {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }

    i {
      margin-left: 10px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  div.connectedProfile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #191b1f;
    color: #ffffff;
    padding: 3px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
      rgb(25 19 38 / 5%) 0px 1px 1px;
    cursor: pointer;
    user-select: none;

    div.profile {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #202328;
      padding: 2px 10px;
      border-radius: 50px;
    
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #268ffc;
        padding: 2px;
        margin-right: 6px;
      }

      p.logBtn {
        padding: 4px 0;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        filter: brightness(0.9);
      }
    }

    div.cog {
      padding-inline: 10px;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        filter: brightness(0.9);
      }
    }

    div.profileSettings {
      position: absolute;
      right: 0;
      bottom: -35px;
      background-color: #000000ad;
      padding: 10px;
      border-radius: 4px;

      p {

        i {
          margin-left: 5px;
        }
      }
    }
  }

  div.connectMenu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: fit-content;
    margin: 0 auto;
    background-color: #202328;
    box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
      rgb(25 19 38 / 5%) 0px 1px 1px;
    border-radius: 8px;
    z-index: 10;

    div.top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #191b1f;
      padding: 15px 20px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: #ffffff;
      font-size: 18px;
      
      p.header {
        font-family: 'Cera Pro';
        font-weight: 500;
        font-size: 17px;
      }

      i {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          filter: brightness(0.9);
        }
      }
    }

    div.bottom {
      margin-top: 6px;

      div.selectionMenu {
        display: flex;
        align-items: center;
        padding-left: 10px;

        div {
          text-align: center;
          color: #ffffff;
          font-family: 'Cera Pro';
          font-weight: 600;
          padding: 10px;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          user-select: none;
          
          &.selected {
            border-bottom: 2px solid #268ffc;
          }

          &:hover {
            opacity: 0.8;
          }

          &:active {
            filter: brightness(0.9);
          }
        }
      }

      div.importMenu {
        padding: 15px 10px;

        div.btnInput {
          display: flex;
          align-items: center;
        }

        i {
          color: #d3d3d3;
          width: 50px;
          text-align: center;
          font-size: 16px;
          cursor: pointer;
        }
        
        p.header {
          color: #d3d3d3;
          font-size: 15px;
          font-family: 'Cera Pro';
          font-weight: 500;

          &:not(:first-of-type) {
            margin-top: 20px;
          }
        }

        p.notice {
          font-size: 12px;
          color: #d3d3d3;
          margin-top: 5px;
          margin-left: 5px;
        }

        input, textarea {
          background-color: #191b1f;
          border: 1px solid #191b1f;
          font-size: 15px;
          width: 100%;
          padding: 10px 15px;
          color: #ffffff;
          border-radius: 4px;
          margin-top: 5px;

          &:focus {
            outline: none;
            border: 1px solid #268ffc;
          }
        }

        textarea {
          height: 100px;
        }

        button {
          font-size: 16px;
          background-color: #268ffc;
          color: #ffffff;
          font-family: 'Cera Pro';
          font-weight: 500;
          width: 100%;
          border: 0;
          border-radius: 6px;
          margin-top: 10px;
          padding-block: 10px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          &:active {
            filter: brightness(0.9);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  div.header {
    width: 94%;
  }
}